[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord = "*"
python-rapidjson = "*"
requests = "*"
imgkit = "*"
wkhtmltopdf = "*"
pillow = "*"

[requires]
python_version = "3.8"
